<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Alfa Romeo | Panel Administracyjny</title>
		<%= stylesheet_link_tag('application', :media => 'all') %>
		<%= javascript_include_tag('application') %>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand logo" href="/public"></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/categories">Kategorie</a>
						</li>
						<li>
							<a href="/galleries">Galerie</a>
						</li>
						<li><%= link_to("Użytkownicy", :controller => 'users') %></li>
						<% if current_user %>
						<li><a href="/access/logout">Wyloguj się</a></li>
						<% end %>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<% if !flash[:info].blank? %>
			<div class="alert alert-info text-center">
				<%= flash[:info] %>
			</div>
			<% end %>
			<% if !flash[:danger].blank? %>
			<div class="alert alert-danger text-center">
				<%= flash[:danger] %>
			</div>
			<% end %>
			<% if !flash[:warning].blank? %>
			<div class="alert alert-warning text-center">
				<%= flash[:warning] %>
			</div>
			<% end %>
			<% if !flash[:success].blank? %>
			<div class="alert alert-success text-center">
				<%= flash[:success] %>
			</div>
			<% end %>
			<%= yield %>
		</div>
		<div class="footer navbar-fixed-bottom">
			<div class="container">
				<p class="text-muted">
					Marysia Wójcik, Mateusz Rajca, Jakub Raźny, Dawid Banaś
				</p>
			</div>
		</div>
	</body>
</html>
